/*=============================Generate fonts=============================================*/
@font-face {
    font-family: 'ClearSans-Light';
    src: url('../fonts/ClearSans-Light.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClearSans-Bold';
    src: url('../fonts/ClearSans-Bold.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClearSans-Italic';
    src: url('../fonts/ClearSans-Italic.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
*
{
    margin: 0;
    padding: 0;
}
body
{
    overflow-y: scroll;
    overflow-x: hidden;
    color: #333;
}
/*==============header=============================*/

.header
{
    position: absolute;
    width: 100%;
    z-index: 99;
}
.Bg-Slide
{
    background: url("../images/header-bg.jpg") no-repeat center;
    background-size: cover;
}
.slider-content-wrapper {
    margin-top: 85px;
    height: 400px;
    display: flex;
    text-align: center;
    align-items: center;

}
.slider-content h1 span{
    color: #4aa500;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    margin: 0 0 15px;
    text-transform: unset;
}
.slide-full .slider-content-wrapper {
    height: 100vh;
    margin-top: 0;
}
.cd-words-wrapper b {
    color: #4aa500;
    font-weight: lighter;
    font-family: ClearSans-Light, serif;
}












/*  Media Query */
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {



}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 768px) {


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{

}