/* =========== Generate animation= ============ */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
/* ============================================ */
/* =========== Generate fonts============ */
@font-face {
    font-family: 'clearSans-Light';
        src: url('../fonts/clearSans-Light.eot') format('embedded-opentype');
    src: url("../fonts/clearsans-light.svg") format('svg');
    src: url("../fonts/clearsans-light.woff") format('woff');
    src: url("../fonts/clearsans-light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'clearsans-bold';
    src: url('../fonts/clearSans-bold.eot') format('embedded-opentype');
    src: url("../fonts/clearsans-bold.svg") format('svg');
    src: url("../fonts/clearsans-bold.woff") format('woff');
    src: url("../fonts/clearsans-bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'clearsans-bold';
    src: url('../fonts/clearSans-italic.eot') format('embedded-opentype');
    src: url("../fonts/clearsans-italic.svg") format('svg');
    src: url("../fonts/clearsans-italic.woff") format('woff');
    src: url("../fonts/clearsans-italic.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;

}
*
{
    margin: 0;
    padding: 0;
}
body
{   overflow-y: scroll;
    overflow-x: hidden;
    color: #333;
    -webkit-user-select: none;
}
/* ============================================ */

/* =========== Navigation ============ */
.header nav
{
    position: absolute;
    width: 100%;
    z-index: 1;
}
.navbar-dark .navbar-nav .nav-link{
    overflow: hidden;
    color: #cccccc;
    outline: none;
    font-family: 'clearSans-Light', serif;
    font-weight: lighter;
    font-size: 18px;
}
/* ============================================ */

/* =============header==============*/
.header {
    background: url("../images/Bg_Image.jpg") no-repeat fixed top;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    min-height: 100vh;
}
.header-overlay {
    background-color: rgba(31, 31, 31, 0.75);
    width: 100%;
    min-height: 100vh;
}
.header .header-overlay .headertext {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: translate(0%,167%);

}
.header .header-overlay .headertext .cd-headline {
    font-size: 54px;
    font-family: 'ClearSans-Bold', serif;
    font-weight: bold;
    color: #4aa500;
}
.header .header-overlay .headertext .cd-headline .cd-words-wrapper b {
    color: #4aa500;
    letter-spacing: 4px;
    font-family: 'ClearSans-Bold', serif;
    font-weight: bold;
    font-size: 54px;
}
.header .header-overlay .headertext h1 {
    font-size: 40px;
    font-family: 'ClearSans-Light', serif;
    font-weight: lighter;
    letter-spacing: 3px;
    color: #cccccc;
}
.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
}
.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    animation: bounce 2s infinite ;
    -webkit-animation: bounce 2s infinite ;
    -moz-animation:bounce 2s infinite  ;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;

}
.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(55% - 8px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
}
/* ============================================ */

/* =============about section==============*/
.about{

    min-height: 250vh;
    background-color: bisque;
}
.about .what{
    font-family: 'ClearSans-Light', serif;
    width: 100%;
    margin-top: 25px;
}
.about .what h6{
    color: #000000;
    font-size: 20px;
    padding-bottom: 10px;
}
.about .what h4{
    font-size: 30px;
    color: #555555;
}
.about .what P
{
    font-size: 23px;
    font-family:'ClearSans-Light', serif ;
    font-weight: lighter;
    color: #777777;
}
.about .owl-carousel .owl-item img
{
    width: auto;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot
{
    position: absolute;
    font-size: 100px;
    bottom: -20px;
    right: 100%;
    color: #969696;
}
.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel button.owl-dot,.owl-carousel .owl-nav  button.owl-next:hover, .owl-carousel button.owl-dot
{
    color: #4aa500;
    background-color: transparent;
}
.owl-carousel .owl-nav  button.owl-next
{
    position: absolute;
    font-size: 100px;
    bottom: -20px;
    left: 96%;
    color: #969696;
}
.about .ligne{
    background-color: #cccccc;
    height: 1px;
}
.about .quote p{
    color: #777777;
    font-family: 'ClearSans-Light', serif;
    font-size: 27px;
}
.about .quote p:before
{
    content: "“";
    position: absolute;
    font-size: 92px;
    left: -30px;
    top: -90px;
    transform: translate(-50%,40%);
    color: #d4d4d4;
}
.about .quote p:after
{
    content: "”";
    position: absolute;
    font-size: 92px;
    left: 99%;
    top: -50px;
    transform: translate(-50%,40%);
    color: #d4d4d4;
}
.about .mission h6 ,.about .vision h6 {
    color: #4aa500;
    font-size: 20px;
    font-family: 'ClearSans-Light', serif;
}
.about .mission p ,.about .vision p {
    font-family: 'ClearSans-Light', serif;
    color: #777777;
    font-size: 20.1px;
}
.about .whatwedo h6 {
    color: #000000;
    font-size: 20px;
    font-family: 'ClearSans-Light',Serif;
    text-align: center;

}
.about .whatwedo p{
    font-size: 16px;
    font-family: "clearSans-Light", serif;
    margin-top: 30px;
}
/* ============================================ */
/*


.Mission h6,.vision h6
{
    color: #4aa500;
    font-size: 20px;
    font-family: 'ClearSans-Light', serif;
}
.aboutquote p,.aboutquote p
{
    font-size: 22px;
    font-family: 'ClearSans-Light', serif;
    color: #777777;
    line-height: 28px;
}
.aboutquote
{
    font-family: 'ClearSans-Light', serif;
    max-width: 100%;
    min-height: 34vh;
}
.why
{
    width: 100%;
    min-height: 100vh;
}
.why h6
{
    color: #000000;
    font-size: 20px;
    font-family: 'ClearSans-Light',Serif;
    text-align: center;
    font-weight: bolder;
}
.why p
{
    font-size: 22px;
    font-family: "clearSans-Light";
    text-align: justify;
    font-weight: lighter;
    margin-top: 30px;
}
.hov image
{
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -moz-animation:bounce 2s infinite 2s ;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.hov image:hover
{
   transform: rotate(-360deg);

}


*/

/*  Media Query */
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {
    /* =========== Navigation ============ */
    .header nav {background-color: rgba(31,31,31,0.75);}
    .header nav .navbar-brand img {width: 80%;}
    .navbar-dark .navbar-nav .nav-link{
       text-align: center;
    }
    /* =============header==============*/
    .header .header-overlay .headertext {transform: translate(0%,140%);}
    .header .header-overlay .headertext .cd-headline ,.header .header-overlay .headertext .cd-headline .cd-words-wrapper b
    {font-size: 40px;}
    .header .header-overlay .headertext h1
    {font-size: 30px;}
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 768px) {



}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {



}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{

}